.DS_Store
node_modules/*
#dist/* # commented out for the sake of releases
gitter-cli.log
npm-debug.log

# Maybe I'll enable grammar.js at some point but for now it's just annoying
# and causes commit issues and stuff.
grammar.js

# Workfile, nobody needs to see this :)
me.workfile
